################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/.vs
/Api/bin/Debug/net10.0
/Api/obj
appsettings.json
appsettings.Development.json
/Api/appsettings.json
/Api/appsettings.Development.json
